*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, sans-serif;
}

/* HEADER */
.header{
  display:flex;
  align-items:center;
  gap:20px;
  padding:20px 60px;
}

.logo{color:red}

input{
  padding:10px;
  border-radius:8px;
  border:1px solid #ccc;
}

/* REGISTER BUTTON */
.register-btn{
  padding:10px 18px;
  background:red;
  color:white;
  border-radius:10px;
  text-decoration:none;
  font-weight:bold;
  transition:.3s;
}

.register-btn:hover{
  background:darkred;
  transform:translateY(-3px);
  box-shadow:0 8px 20px rgba(255,0,0,.4);
}

/* LOGIN PAGE */
.login-body{
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  background:#f5f5f5;
}

.login-box{
  background:white;
  padding:30px;
  width:320px;
  border-radius:16px;
  box-shadow:0 10px 30px rgba(0,0,0,.1);
}

.login-box h2{
  text-align:center;
  margin-bottom:20px;
}

.login-box label{
  font-size:14px;
  margin-top:10px;
  display:block;
}

.login-box input{
  width:100%;
  margin-top:5px;
}

.remember{
  display:flex;
  align-items:center;
  gap:6px;
  margin:15px 0;
}

/* BUTTON */
.btn{
  width:100%;
  padding:10px;
  border:none;
  border-radius:8px;
  cursor:pointer;
}

.red{
  background:red;
  color:white;
}

.btn:hover{
  opacity:.85;
}
